/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Full width buttons.
 *
 * 1. Force 100% width for <button> in some browsers.
 */
.o-btn {
    @include starterized-unselectable;
    background: none !important;
    border: none !important;
    display: inline-block !important;
    line-height: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    text-shadow: none !important;
    transition: all .2s ease !important;
    vertical-align: middle !important;
    white-space: nowrap !important;

    &:hover {
        cursor: pointer !important;
        text-decoration: none !important;
    }

    :disabled {
        cursor: default !important;
    }
}

/**
 * Full width buttons.
 *
 * 1. Force 100% width for <button> in some browsers.
 */
.o-btn--full {
    box-sizing: border-box;
    display: block !important;
    width: 100% !important; /* [1] */
}
