{# Icon Macro #}
{% macro icon(name, classModifier) %}
  <svg role="img" class="o-icon {{ classModifier }}">
    <use xlink:href="icons/icons.svg#{{ name }}"></use>
  </svg>
{% endmacro %}

{# Logo Macro #}
{% macro logo(url, alt, classModifier, href) %}
  <a class="site-logo {{ classModifier }}" href="{{ href }}">
    <img alt="{{ alt }}" src="{{ url }}">
  </a>
{% endmacro %}
