  <!-- build:js js/main.js -->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/svg4everybody/dist/svg4everybody.js"></script>
  <script src="../frontend/js/init.js"></script>
  <!-- endbuild -->
