<!DOCTYPE html>
<!--[if IE 8]>    <html class="{{ page }} no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="{{ page }} no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="{{ page }} no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <title>Starterized</title>

    <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//themes.googleusercontent.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">

    <!-- build:css {{ stylesheet }} -->
    <link rel="stylesheet" href="{{ stylesheet }}">
    <!-- endbuild -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons -->
    {%- include "./meta-favicons.html" -%}
  </head>
<body>
