/* --------------------------------------------------------------------------------------
+
+ TYPE
+
-------------------------------------------------------------------------------------- */

//TYPE WEIGHTS
.u-type--light {
    font-weight: 300 !important;
}

.u-type--normal {
    font-weight: 400 !important;
}

.u-type--semibold {
    font-weight: 600 !important;
}

.u-type--bold {
    font-weight: 700 !important;
}

.u-type--extrabold {
    font-weight: 800 !important;
}

//u-TYPE TRANSFORMS
.u-type--uppercase {
    text-transform: uppercase !important;
}

.u-type--lowercase {
    text-transform: lowercase !important;
}

.u-type--capitalize {
    text-transform: capitalize !important;
}

.u-type--no-transfrom {
    text-transform: none !important;
}
