/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-family: $base-font-family;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    text-align: center;
}
