/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * 1. Normalize browser defaults.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400; /* [1] */

    > a {
        color: inherit;
    }
}
