/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    color: $base-link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
