{% extends "03-templates/templates.default.html" %}

{% block content %}
  <link rel="stylesheet" href="css/styleguide.css">

  <main class="styleguide-container ph">
  <h1 id="top">Project - Table of contents</h1>
    <ul class="table-of-contents mb+ mt-"></ul>
    <section class="styleguide-block">
      <h2 class="mb+">Logo</h2>
    </section>
    <section class="styleguide-block layout">
      <h2 class="ml mb+">Colors</h2>
    </section>
    <section class="styleguide-block layout">
      <h2 class="ml mb+">Buttons</h2>
    </section>
    <section class="styleguide-block">
      <h2 class="mb+">Header</h2>
    </section>
    <section class="styleguide-block">
      <h2 class="mb+">Sublevel navigation</h2>
    </section>
    <section class="styleguide-block layout">
      <h2 class="ml mb+">Select</h2>
    </section>
    <section class="styleguide-block layout">
      <h2 class="ml mb+">Inputs</h2>
    </section>
    <section class="styleguide-block layout">
      <h2 class="ml mb+">Check button</h2>
    </section>
    <section class="styleguide-block">
      <h2 class="mb+">Radio button</h2>
    </section>
    <section class="styleguide-block">
      <h2 class="mb+">Messages</h2>
    </section>
    <section class="styleguide-block">
      <h2 class="mb+">Horizontal line</h2>
    </section>
    <section class="styleguide-block layout">
      <h2 class="ml mb+">Icons</h2>
      </div>
    </section>
    <section class="styleguide-block">
      <h2 class="mb+">Pagination</h2>
    </section>
    <section class="styleguide-block">
      <h2 class="mb+">Tooltip</h2>
    </section>
    <section class="styleguide-block layout">
      <h2 class="ml mb+">Loader</h2>
    </section>
    <section class="styleguide-block layout">
      <h2 class="ml mb+">Typography</h2>
      <article class="layout__item">
    </section>
    <section class="styleguide-block layout">
      <h2 class="ml mb+">Progress</h2>
    </section>
  </main>
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script>
    (function($) {
      var table = $('.table-of-contents');

      $('.styleguide-block > h2').each(function() {
        var text = $(this).text();
        var anchor = text.toLowerCase().replace(' ', '-');
        table.append('<li><a href="#'+ anchor + '">' + text + '</a></li>')
        $(this).attr('id', anchor).append('<a href="#top" class="back-to-top">Back to top</a>');
      });
    })(jQuery);
  </script>
{% endblock %}
