{% extends "03-templates/templates.default.html" %}

{% block content %}
  <h1>Test page title</h1>
  <pre class="c-pattern js-pattern"></pre>
  <div contenteditable="true">
    <p>Sit quae quae minus quisquam officiis. Nesciunt nulla dicta quasi reiciendis maxime? Amet placeat minus rerum et totam! Provident dolorem et autem labore reprehenderit? Obcaecati ipsam aspernatur reprehenderit aliquid porro</p>
    <p>Ipsum repellat molestiae magni harum velit? Ex incidunt autem deserunt natus qui Cum perferendis nam repudiandae earum reprehenderit asperiores fugit. Amet esse ea mollitia quidem id. Molestiae adipisci a quia</p>
    <p>Amet voluptatum ex modi harum dolores at, odio? Molestiae ea nihil aliquam magni quod Aspernatur debitis officiis dicta quibusdam odio eius? Quasi laboriosam minus totam vel dolor error. Reiciendis quisquam</p>
    <p>Lorem maiores rerum minima suscipit nostrum! Labore obcaecati quod pariatur distinctio dignissimos Repellat et voluptatum eaque hic modi Fuga mollitia exercitationem rerum laboriosam odit. Fugit nihil asperiores et harum vel?</p>
    <p>Amet beatae quis natus numquam obcaecati. Sapiente illo magni perferendis est velit? Fugiat pariatur sed totam magnam esse iure, id Quo ipsum fugit alias atque magnam vel iusto! Quod adipisci.</p>
  </div>
{% endblock %}
