$c64-color-palette: (
    #000,
    #fff,
    #813338,
    #75cec8,
    #8e3c97,
    #56ac4d,
    #2e2c9b,
    #edf171,
    #8e5029,
    #553800,
    #c46c71,
    #4a4a4a,
    #7b7b7b,
    #a9ff9f,
    #706deb,
    #b2b2b2
);

.c-pattern {
    font-family: $base-font-family;
    margin: auto;
    width: 80 * $base-font-size;
    height: 50 * $base-font-size;
    overflow: hidden;
    background: #2e2c9b;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // animation: c64-colors 32s step-end infinite;
}

@keyframes c64-colors {
    @for $i from 1 to 16 {
        #{ $i / 16 * 100%} {
            background: nth($c64-color-palette, random(16));
            color: nth($c64-color-palette, random(16));
        }
    }
}
