/* --------------------------------------------------------------------------------------
+
+ VIEWPORT
+
-------------------------------------------------------------------------------------- */

//SET VIEWPORT TAG (http://goo.gl/dgcVV)
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}
