/*------------------------------------*\
    #STARTERIZED SETTINGS
\*------------------------------------*/


// Tableize
$starterized-enable-tableize--middle:           true;
$starterized-enable-tableize--bottom:           true;
$starterized-enable-tableize--fixed:            true;
$starterized-enable-tableize--full:             true;

$starterized-enable-tableize-row:               false;
