/*------------------------------------*\
    #DEFAULT SETTINGS
\*------------------------------------*/

// High-level base settings.
$base-background-color:                         #706deb;
$base-font-family:                              "pet_me_64", sans-serif;
$base-font-size:                                16px;
$base-line-height:                              $base-font-size;
$base-link-color:                               #0074d9;
$base-text-color:                               #706deb;


// Layout
$spacing-unit:                                  $base-line-height;
$spacing-unit--tiny:                            round($spacing-unit / 4);
$spacing-unit--small:                           round($spacing-unit / 2);
$spacing-unit--large:                           round($spacing-unit * 2);
$spacing-unit--huge:                            round($spacing-unit * 4);


// Breakpoints
$breakpoint-medium:                             481px;
$breakpoint-large:                              769px;
$breakpoint-extralarge:                         1025px;
