/*------------------------------------*\
    #INUIT SETTINGS
\*------------------------------------*/


// Inuit defaults
$inuit-base-background-color:                   $base-background-color;
$inuit-base-font-size:                          $base-font-size;
$inuit-base-line-height:                        $base-line-height;
$inuit-base-text-color:                         $base-text-color;


// Inuit responsive
$breakpoints: (
    'medium'                'screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1})',
    'medium-and-up'         'screen and (min-width: #{$breakpoint-medium})',
    'large'                 'screen and (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-extralarge - 1})',
    'large-and-up'          'screen and (min-width: #{$breakpoint-large})',
    'extralarge-and-up'     'screen and (min-width: #{$breakpoint-extralarge})'
);


// Spacings
$inuit-enable-margins:                          true;
$inuit-enable-margins--tiny:                    true;
$inuit-enable-margins--small:                   true;
$inuit-enable-margins--large:                   true;
$inuit-enable-margins--huge:                    true;

$inuit-enable-margins--none:                    true;

$inuit-enable-paddings:                         true;
$inuit-enable-paddings--tiny:                   true;
$inuit-enable-paddings--small:                  true;
$inuit-enable-paddings--large:                  true;
$inuit-enable-paddings--huge:                   true;

$inuit-enable-paddings--none:                   true;


// Flag
$inuit-enable-flag--tiny:                       true;
$inuit-enable-flag--small:                      true;
$inuit-enable-flag--large:                      true;
$inuit-enable-flag--huge:                       true;
$inuit-enable-flag--rev:                        true;
$inuit-enable-flag--flush:                      true;
$inuit-enable-flag--top:                        true;
$inuit-enable-flag--bottom:                     true;
$inuit-enable-flag--responsive:                 false;
$inuit-flag-collapse-at:                        720px;


// Layout
$inuit-enable-layout--tiny:                     true;
$inuit-enable-layout--small:                    true;
$inuit-enable-layout--large:                    true;
$inuit-enable-layout--huge:                     true;
$inuit-enable-layout--flush:                    true;
$inuit-enable-layout--rev:                      true;
$inuit-enable-layout--middle:                   true;
$inuit-enable-layout--bottom:                   true;
$inuit-enable-layout--right:                    true;
$inuit-enable-layout--center:                   true;
$inuit-enable-layout--auto:                     true;
