@font-face {
    font-family: 'pet_me_64';
    src: url('../fonts/petme64.woff2') format('woff2'),
         url('../fonts/petme64.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
